/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}

/* ここからCSSを記述*/
body{
    background-color: white;
}
.header{
    height:104px;
    background-color:white;
    border-bottom: 4px solid #dee7ec;
    
}
.header-icon{
  float:left;
    font-size:40px;
    padding:30px 20px 0 20px;
  }
.header-list li{
    font-size:20px;
    float:left;
    padding:40px 20px 0 20px;
}
.icon img{
  width:75px;
  height:75px;
}
.post{
  padding:20px 20px;
  height:500px;
  width:200px;
  margin:0;
}
.icon,.my-username{
  vertical-align: middle;
  display:inline-block;
}
.textbox{
  height:200px;
  width:300px;
  margin:20px 20px;
}
.button{
  background-color:#dee7ec;
  height:40px;
  width:154px;
  margin-top:20px;
  margin-left:85px;
}