*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Avenir Next";
}

li {
    list-style: none;
}

.footer {
    background-color: #568de0;
    color: #fff;
    height: 100px;
}

.footer-left{
    float: left;
    margin: 0 auto;
    width: 50%;
    border-right: 3px solid #fff;
}

.footer-left h1{
    margin: 20px auto;
    height: 30px;
    font-size: 30px;
    text-align: center;
}

.footer-left h2{
    margin: 0px auto 15px auto;
    height: 15px;
    font-size: 15px;
    text-align: center;
}

.footer-right{
    float:right;
    width: 50%;
}

.footer-system{
    font-size: 25px;
    text-align: center;
    margin: 0 auto;    
}

