/* CSSのリセット（消さないでください） */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:"Hiragino Kaku Gothic ProN W3", sans-serif;
}
li{
  list-style: none;
}
/*hader*/
header{
  padding:15px 0 0 15px;
  position: fixed;
  top:0;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  background-color:white;
  border-bottom:2px solid #CC6600;
}
nav{
  margin:0 0 0 auto;
}
.nav a{
  font-size: 15px;
  text-decoration: none;
  color: #4b4b4b;
}
.nav a:hover{
  border-bottom:3px solid #CC6600;
}
ul{
  margin:0;
  display: flex;
}
li{
  margin:0 15px;
  font-size:15px;
}
.logo{
  border-style:none;
}
.logo img{
  height:auto;
  width: 100px;
}
/*footer*/
.footer h1,h2,a{
  color:white;
}
.footer {
  margin-top:50px;
  background-color: #35364e;
  height: 150px;
}

.footer-left{
  float: left;
  margin: 25px auto;
  width: 50%;
  border-right: 2px solid #fff;
}

.footer-left h1{
  margin: 20px auto;
  height: 30px;
  font-size: 30px;
  text-align: center;
}

.footer-left h2{
  margin: 0px auto 15px auto;
  height: 15px;
  font-size: 15px;
  text-align: center;
}
.footer-right{
  display:inline-block;
  text-align: center;
  width: 50%;
}
.footer-right a:link,a:visited,a:hover,a:active{
  text-decoration:none;
  border:none;
}
.footer-system{
  font-size: 15px;
  margin: 40px auto 0 auto;    
}
.footer-system-top a{
  padding-right:30px;
}
.footer-system-under{
  margin-top:20px;
}
.footer-system-under a{
  padding:0 30px 0 15px;
}
.footer-list{
  margin:20px auto 0 auto;
  font-size:12px;
}
.footer-list a{
  padding-right: 25px;
}

/*ゴミ*/
.icon img{
  width:75px;
  height:75px;
}
.post{
  padding:20px 20px;
  height:500px;
  width:350px;
  margin:20px 20px;
  border:2px solid #dee7ec;
}
.icon,.my-username{
  vertical-align: middle;
  display:inline-block;
}
.textbox{
  height:200px;
  width:300px;
  margin:20px 20px;
}
.button{
  background-color:#dee7ec;
  height:40px;
  width:154px;
  margin-top:20px;
  margin-left:85px;
}

/*config*/
textarea{
  resize:none;
  height:80px;
  width:350px;
}
body{
  background-color: #e6e6e6;
}
.config {
  margin:0 auto;
  width:400px;
}
.config p{
  font-size:18px;
}
.config-menu{
  margin-top:75px;
  background-color: white;
  border:solid 2px #ddd;
}
.con-icon{
  text-align: center;
  margin:20px;
}
.con-icon img{
  width:75px;
  height:75px;
}
.select-icon{
  display:none;
}
.btn-icon{
  cursor: pointer;
  padding:4px 10px;
  display:inline-block;
  margin:5px 0 10px 0;
  background-color:	white;
  border:outset 2px #ddd;
}
.btn-icon p{
  color:#191970;
  font-size:15px;
}
.name,.explain,.url,.op-hours,.phone{
  margin:20px auto;
  width:350px;
}
.config-form{
  font-family:"Hiragino Kaku Gothic ProN W3", sans-serif;
  margin:20px 0;
  height:30px;
  width:350px;
  border-right:none;
  border-left:none;
  border-top:none;
  outline: none;
  background-color:#EEEEEE;
  border-bottom:solid 3px  #999999;
}
input[type="text"]:focus{
  border-bottom:solid 3px #0099FF;
}
.explain textarea{
  font-family:"Hiragino Kaku Gothic ProN W3", sans-serif;
  font-size:15px;
  margin:20px 0;
  border-bottom:solid 3px  #999999;
  border-right:none;
  border-left:none;
  border-top:none;
  outline: none;
  background-color:#EEEEEE;
}
.explain textarea:focus{
  border-bottom:solid 3px #0099FF;
}
.button2{
  text-align: center;
}
.submit-btn{
  display: none;
}

/*profile*/
h3{
  font-size:25px;
}
.profile{
  background-color: white;
  height:500px;
  width:1000px;
  margin:75px auto;
}
.profile-name,.profile-explain,.profile-url,.profile-url,.profile-op-hours,.profile-phone{
  margin:20px;
  border-bottom:solid 2px #ddd;
  text-align:center;
}
.profile-name,.profile-explain,.profile-url,.profile-url,.profile-op-hours,.profile-phone h2,p{
  text-align: left;
}
.profile-icon{
  margin:20px 20px;
}
.profile-title p{
  font-size: 20px;
}

/*Login*/
.login-title{
  padding-top:15px;
  padding-bottom:25px;
  font-size:25px;
}
.login-title p{
  text-align:center;
}
.login-main{
  background-color:white;
  height:350px;
  width:500px;
  margin:100px auto;
}
.login-form{
  text-align: center;
  margin:0 auto;
}
.login-form input{
  margin:20px auto;
  height:35px;
  width:400px;
  border:solid 2px #A9A9A9;
}
.login-submit{
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 13pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 5px 5px;    /* 余白       */
  background    : #e88017;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 0.8;         /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
}
.login-submit:hover {
  opacity:1;           /* カーソル時透明度 */
  }
.register a{
  color:#0099FF;
  text-decoration:none;
  border:none;
}
.register a:hover{
  color:#0099FF;
  border-bottom:solid 2px #0099FF;
}